/* 
rgb(66, 92, 93)             // use this for shadow days color
darkgray                    // background-color for shadow days 
rgb(199, 194, 194)          // use this background-color for normal days
*/

.calendar {
    background-color: rgb(31, 31, 31);
    margin: 1rem auto;
    width: 29rem;
    height: 91vh;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 2.0rem;
}

.calendarDaysWindow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.calendarNotes {
    background-color: gainsboro;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    height: 39vh;
    width: 25rem;
}

.square/*, .date*/{ 
    width: 4rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 2.5rem;
    user-select: none;
    margin: 0.1rem auto;
}
.day{
    background-color: rgb(199, 194, 194);
    cursor: pointer;
}
.day:hover {
    filter: brightness(110%);
}
.day:active {
    filter: brightness(105%);
}

.date {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(199, 194, 194);
    border-radius: 10%;
    text-align: center;
    justify-items: center;
}
.dayOfWeek {
    background: rgb(131, 166, 160);
}
.dayOffs {
    background: rgb(179, 147, 154);
}
.dayOff {
    color: rgb(116, 51, 65);
}

.arrow{
    color: rgb(94, 41, 41);
    user-select: none;
    cursor: pointer;
}

.today {
    
    background-color: burlywood;
}
.shadowDay {
    color: rgb(66, 92, 93);
    background-color: darkgray;
}
.chosenDay {
    outline: 3px darkslateblue;
    outline-style: dashed;
    outline-offset: -3px;
    color: darkslateblue;
}
