.wrapper {
    background-color: rgb(31, 31, 31);
    margin: 50px auto;
    width: 230px;
    height: 220px;
    border-radius: 20px;
    padding: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.square/*, .date*/{ 
    width: 30px;
    height: 30px;
    border-radius: 25%;
    background-color: rgb(199, 194, 194);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    margin: 1px auto;
}
.square:hover {
    filter: brightness(75%);
}

.date {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgb(199, 194, 194);
    border-radius: 10%;
    text-align: center;
    justify-items: center;
}
.dayOfWeek {
    background: rgb(81, 126, 118);
}
.dayOffs {
    background: rgb(100, 66, 72);
}
.dayOff {
    color: rgb(94, 41, 41);
    background: rgb(167, 164, 164);
}
.nullPoint {
    filter: brightness(0%);
}

.arrow, #fullDate{
    color: rgb(94, 41, 41);
    user-select: none;
    cursor: pointer;
}