.wrapper {
    background-color: black;
    color: whitesmoke;
    margin: 50px auto;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
}
.square {
    width: 30px;
    height: 30px;
    background-color: #222;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
}
.square:hover {
    filter: brightness(75%);
}

.calendar {
    display: grid;
    grid-template-areas: 
    "square" "square" "square" "square" "square" "square" "square" "square"
    "square" "square" "square" "square" "square" "square" "square" "square"
    "square" "square" "square" "square" "square" "square" "square" "square"
    "square" "square" "square" "square" "square" "square" "square" "square"
    "square" "square" "square" "square" "square" "square" "square" "square"
    "square" "square" "square" "square" "square" "square" "square" "square";
    justify-items: center;
}