.cRed {
    background-color: rgb(255, 200, 200);
}
.cGreen {
    background-color: rgb(200, 255, 200);
}
.cBlue {
    background-color: rgb(200, 200, 255);
}
.cRedGreen {
    background-color: yellowgreen;
}
.cRedBlue {
    background-color: darkorchid;
}
.cGreenBlue {
    background-color:skyblue;
}

.cRed, .cBlue, .cGreen, .cGreenBlue, .cRedBlue, .cRedGreen {
    filter: brightness(75%);
}